@font-face {
    font-family: 'Billabong';
    src: url('./FontsFree-Net-Billabong.ttf');
  }
@font-face {
    font-family: 'Kenyan Coffee';
    src: url('./kenyc.ttf');
  }
@font-face {
    font-family: 'Klavika';
    src: url('./klavika-bold.otf');
  }
@font-face {
    font-family: 'Pico Black';
    src: url('./pico-black.ttf');
  }